[Unit]
Description=px4
After=sscrpcd.service
Requires=sscrpcd.service

[Service]
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/voxl-px4

[Install]
WantedBy=multi-user.target
