Package: voxl-px4
Version: 2.0.2
Section: devel
Priority: optional
Architecture: arm64
Depends: libfc-sensor
Replaces: px4-rb5-flight
Conflicts: px4-rb5-flight
Maintainer: Eric Katzfey <eric.katzfey@modalai.com>
Description: ModalAI PX4 flight controller
